<html>
<head>
    <link href="alert.css" rel="stylesheet"/>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/ionsound/js/ion.sound.min.js"></script>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="alert.js"></script>
</head>
<body>
<div id="alert">
    <div id="alerttitlecontainer">
        <div id="alerttitle">Alert!
            <div id="exclamation"></div>
        </div>
    </div>
    <div id="alerttextcontainer">
        <div id="alerttext"></div>
    </div>
</div>
</body>
</html>
